.service {
  height: 1000px;
  width: 100%;
}

.course-reviews {
  padding-left: 15%;
  padding-right: 15%;
}

.main-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  padding: 10px 20px;
  background-color: #4b2e83;
  border-bottom: 1px solid #d9d9d9;
}

.main-header h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  color: white;
}

.left-button,
.right-button {
  flex: 0 0 auto;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
}
