.service {
    height: 1000px;
    width: 100%;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 25%;
}

.display {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 40px;
}
