.service {
  height: 1000px;
  width: 100%;
}

.course-reviews {
  padding-left: 15%;
  padding-right: 15%;
}

.main-header {
  position: relative;
  /* height: 120px; */
  padding-left: 5%;
  padding-right: 5%;
  padding: 10px 20px;
  background-color: #4b2e83;
  /* border-bottom: 1px solid #d9d9d9; */
  text-align: center;
}

.main-header h1,
.main-header h2 {
  margin: 0;
  color: white;
}

.main-header h1 {
  font-size: 2.5em;
  font-weight: 700;
}

.main-header h2 {
  font-size: 1.5em;
}

.left-button,
.right-button {
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 1em;
  font-weight: 400;
}

.left-button {
  left: 10px;
}

.right-button {
  right: 10px;
}
