.section {
    border-radius: 5px;
    width: 95%;
}

body {
    background-color: #F9F9F9;
}

.staticRecourseCards {
    margin-left: 280px;
    margin-right: 60px;
    margin-top: 20px;
}

.list {
    list-style: none;
  }

.bar {
    padding: 20px;
}

#nav {
    width: 10%;
    height: 100%;
    border: 1px solid black;
    border-radius: 2px;
    overflow-y:scroll;
}

.drawer {
    padding-top: 80px;
    width: 220px;
    background-color: #ffffff;
}