.container-location {
    width: 100%;
    display: flex;
}

.pic-location {
    width: 20%;
    padding-right: 20px;
}

.pic-card {
    width: 40%;
}

.pic-circle  {
    width: 100%;
}

.container-card {
    width: 100%;
    color: black;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.container-circle {
    width: 32%;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

.container-card:hover h3 {
    color: #dd8a04;
}

.container-card:hover {
    background-color: #d8d8d8;
  }

.container-circle:hover h3 {
    color: #dd8a04;
}

.container-circle:hover {
    background-color: #d8d8d8;
  }

.container-location:hover {
    background-color: #d8d8d8;
}

a {
    text-decoration: none; /* Removes the underline */
}

.introduce {
    color: black;
}

.viewCard {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px; 
    background-color: #fff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.viewCardImageContainer {
    width: 300px; 
    height: 200px;
    margin: 20px 30px 20px 20px;
}

.viewCardImage {
    width: 300px;
    height: auto;

    object-fit: cover;
    border-radius: 4px;
}

.viewCardContent {
    margin-top: 20px;
    padding-right: 20px;
    flex-grow: 1;
}

.viewCardTitle {
    font-size: clamp(1em, 0.4vw + 1em, 2em);
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.viewCardIntro {
    font-size: 1.0em;
    margin: 10px 0; 
}

.viewCardLink {
    display: inline-block;
    color: #007bff; 
    text-decoration: none; 
}

.viewCardLink:hover {
    text-decoration: underline;
}