.intro-section {
  background-color: white;
}

.picture {
  width:45%;
  margin-right: 30px;
  margin-bottom: 100px;
}


img {
  width: 100%;
}

.text {
  width: 45%;
}

#highlight {
    background-color:#FEF35A;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {
  .picture {
    width:80%;
    margin-bottom: 30px;
  }

  .text {
    width:80%;
    margin-bottom: 50px;
  }

  .content {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .btns {
    margin-bottom: 30px;
  }
}
