.nav {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.profile-popup {
  position: absolute;
  top: 100%; 
  right: 0;
  z-index: 10;
}

.profile-popup button {
  background-color: #007bff; /* Adjust color as needed */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.profile-popup button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}


.navbar-container {
  display: flex;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}


.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}


.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 60vw;
}

.nav-item {
  height: 80px;
  position: relative;
  z-index: 1;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transform: translateY(8px);
  transition: all 0.2s ease-out;
}

.menu-icon .fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav {
    font-size: 1rem;
  }

  .navbar-logo {
    font-size: 0.8rem;
  }
} 



@media screen and (max-width: 860px) {
  #btn-login {
    font-size: 12px;
  }

  .nav {
    font-size: 0.8rem;
  }

  .profile-image {
    margin-right: 10px;
  }

} 




@media screen and (max-width: 750px) {
  .profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    right: 60px;
  }

  .nav {
    font-size: 1.5rem;
  }

  .NavbarItems {
    position: relative;
  }

  .navbar-container {
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }

  #btn-login {
    width: 120px;
    font-size: 16px;
    display: block; 
    position: fixed;
    top: 25px; 
    right: 70px;
  }

  .nav {
    display: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .navbar-logo {
    color: #fff;
    margin-left: 0px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    position: fixed;
    left: 10px;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    position: absolute;
    top: 80px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    margin-top: 0px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }


  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .menu-icon  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

@media screen and (max-width: 400px) {
  #btn-login {
    width: 80px;
    font-size: 10px;
    padding: 3px 5px;
    display: block; 
    position: fixed;
    top: 35px; 
    right: 70px;
  }

  .navbar-container {
    height: 60px;
  }
}

nav ul ul {
  color: black;
  display: none; 
  background-color: #fff;
  border: 1px solid black;
  padding: 0;
}

nav ul li:hover > ul {
  display: block;
  padding: 0; 
}

.新生 {
  color: red;
}

.profile {
  background-color: white;
  position: absolute;
  right: 0px;
  bottom: 0px;
}